.title{
    text-align: center;
}
.server-config{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bot-config{
    display: flex;
    flex-direction: column;
    align-items: center;
}